.card-box {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
}
.card-avt .avatar {
    width: 100px;
}

.card-text {
    font-size: 20px;
    margin: 10px;
    font-weight: 600;
}
.table_box {
    padding: 40px
}